.dark-mode{
    background-color: black;
    color: white;
}
.dark-mode nav{
    background-color: rgb(198, 154, 216);
    /* color: white; */
}
.dark-mode section{
    background-color: rgb(11, 11, 11);
}
.dark-mode .bg-blue-100{
    background-color: black;
    color: white;
}
.dark-mode .bg-white{
    background-color: rgb(173, 106, 168);
}
.dark-mode .text-gray-700{
     color: white;
}